.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
html,
body {
height: 100%;
}

body {
display: flex;
align-items: center;
padding-top: 40px;
padding-bottom: 40px;
background-image:  url('/step-1-bg.jpeg');
background-size: cover;
}

.form-signin {
width: 100%;
max-width: 330px;
padding: 15px;
margin-top: auto;
margin-bottom: auto;
margin-left: 150px;
margin-right: auto;
}
    
.form-signin .form-floating:focus-within {
    z-index: 2;
}


@media only screen and (max-width: 768px) {

    .form-signin {
        margin-left: auto;
        margin-right: auto;
    }

}